# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
*.log

# Gradio / output
out/
*.wav
*.mp3

# PDF / dataset
*.pdf
data/
datasets/

# Hugging Face / Model weights
VibeVoice-1.5B/
*.safetensors
*.bin
*.pt

VibeVoice/

# Others
.DS_Store
.vscode/